.userFixed {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    background-color: var(--accent-color); /* Updated to use the accent color variable */
    color: var(--text-color); /* Updated to use the text color variable */
    border-right: 2px solid var(--primary-color); /* Updated to use the primary color variable */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 15%;
}

.list {
    list-style: none;
    font-size: larger;
    padding: 0;
    margin: 0;
    width: 100%;
}

.list li {
    border-bottom: 2px solid var(--background-color); /* Updated to use the background color variable */
    text-align: center;
    padding: 15px 0;
}

.list li:hover {
    background-color: var(--primary-color); /* Updated to use the primary color variable */
    color: var(--background-color); /* Updated to use the background color variable */
    border-color: var(--primary-color); /* Updated to use the primary color variable */
}

.bottom {
    display: flex;
    height: 100%;
    background-color: var(--background-color); /* Updated to use the background color variable */
    color: var(--primary-color); /* Updated to use the primary color variable */
}

.outlet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .outlet {
        height: 100%;
    }
}
