.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color); /* Updated to use the primary color variable */
  color: #ffffff;
  padding: 10px 20px;
  border-bottom: 2px solid var(--primary-color); /* Updated to use the primary color variable */
}

.navbar-brand a {
  color: var(--background-color); /* Updated to use the background color variable */
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: var(--background-color); /* Updated to use the background color variable */
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  color: var(--accent-color); /* Updated to use the accent color variable */
}

.navbar .active {
  color: var(--primary-color); /* Updated to use the primary color variable */
}
